.description{
    background-color: #020611;
    color: white;
    padding-bottom: 5vh;
    height: 100vh;
}
    
.description h1{
    margin: 0 0 5vh 0;
    padding-top: 8vh;
    font-size: 2.3em;
    padding-left: 25vh;
}

.prenom{
    color: #df22a2;
}
    
.description p{
    display: flex;
    flex-direction: row;
    width: 27%;
    padding-left: 25vh;
    text-align: justify;
    padding-bottom: 5vh;
    margin: 0;
    font-size: 1.3em;
    line-height: 3vh;
}