#footer{
    height: 40vh;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    font-family: 'Raleway', Times, serif;
    font-size: 1.5em;
}

#footer ul{
    list-style-type: none;
    justify-self: center;
    text-align: center;
    align-self: center;
}


#footer li{
    padding: 10px;
}

#droit{
    height: 10px;
    text-align: center;
    font-size: 20px;
    align-self: center;
    font-style: italic;
}
