#footer{
    height: 30vh;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    font-family: 'Raleway', Times, serif;
    font-size: 1em;
    text-align: center;
}

#footer ul{
    list-style-type: none;
    justify-self: center;
    text-align: center;
    align-self: center;
    margin-left: -25px;
}

#droit{
    height: 10px;
    text-align: center;
    font-size: 1em;
    align-self: center;
    font-style: italic;
}

.contact{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.contact:hover{
    color: #df22a2;
}
