@charset "utf-8";
@font-face{
    font-family: titreFont;
    src: url(../font/stargaze_regular-webfont.woff);
}

/*Style global*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: #020a1c;
}

#global{
background-color: #020a1c;
margin: 0 auto;
font-family: 'Raleway', sans-serif;
}

img{
    width: 100%;
}




