@charset "utf-8";

/*Style global*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

#global{
background-color: black;

    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}



img{
    width: 100%;
}

#chkBoutonBurger {
    display: none;
}


#chkBoutonBurger:checked ~ #header .menu {
    transform: translateX(0%);
}

#chkBoutonBurger:checked ­­~ .boutonBurger {
    transform: rotate(45deg);
}


#back li:hover{
    color:#9e0d0d;
    transition:.3s ease;
    border: 1px solid #9e0d0d ;
  }

  th:hover{
    color:#9e0d0d;
    transition:.3s ease;
  }




/* --------------------MENU------------------- */

#menu{
    background-color: white;
    display: grid;
    grid-template-areas:"cell1 cell1 cell1" 
                        "cell2 cell3 cell4";
    grid-template-columns: 1fr 1fr 1fr;
}

#menu ul li:hover{
    color : #800000;
    text-decoration: underline;
    text-decoration-color: #800000;

}

#menu h1{
text-align: center;
width: 100%;
margin: 0;
font-size: 4em;
grid-area: cell1;
}

#menu ul{
    cursor: pointer;
    list-style-type: none;
    padding-left: 8%;
    font-size: 2em;
    text-transform: uppercase;
    display: inline-block;
    grid-area: cell2;
}

#menu ol{
padding-right: 8%;
list-style-type: none;
text-align: right;
float: right;
font-size: 2em;
text-transform: uppercase;
grid-area: cell4;
}


#salade_ul{
    color: red;

}

#menu li{
    padding: 2vh 0 2vh 0;
}

#menu img{
    transform: rotate(-15deg);
    justify-self: center;
    align-self: center;
    grid-area: cell3;
}

/* --------------------GALLERIE------------------- */

#gallerie{
    height: 75vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
padding-bottom: 5%;
}

#carrousel{
    width: 60vw;
    height: 100vh;
}

#carrousel h1 {
    margin-bottom: 5%;
    font-size: 4em;
    width: 100%;
    text-align: center;
}




/* ================== Styles Tablettes ===============*/
@media (min-width:521px) and (max-width:980px) {
/* --------------------HEADER------------------- */
.menu{
    height: 100%;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 100%;
    transition: transform 1s;
}

.menu a {
    width: 100%;
    margin: 4vh 0 4vh 0;
    font-size: 2.5em;
}

#logo{
    display: none;
}

#res_maint{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: -30vh;
}

#res_maint a{
margin-left: 40px;
}

.boutonBurger {
    background: linear-gradient(to bottom, #720d05 0%, #720d05 20%, transparent 20%, transparent 40%, #720d05 40%, #720d05 60%, transparent 60%, transparent 80%, #720d05 80%, #720d05 100%);
    height: 48px;
    width: 48px;
    margin: 1%;
   float: right;
    cursor: pointer;
    /*Effet de transition sur la rotation*/
    transition: transform 1s;
}

#menu_droit{
    margin-bottom: 10vh;
}

#logo_boutton img{
    width: 155px;
    height: 50px;
    margin: 0 32% 0 32%;

}

#logo_boutton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 93%;
    height: 7%;
}

#menu_gauche{
    display: block;
}

#menu_droit{
    display: block;
}
/* --------------------HISTOIRE------------------- */

/* --------------------MENU------------------- */

#menu{
    background-color: white;
    display: grid;
    grid-template-areas:"cell1 cell1 cell1" 
                        "cell2 cell2 cell2";
    grid-template-columns: 1fr 1fr 1fr;
}


#menu ul{
    cursor: pointer;
    list-style-type: none;
    padding-left: 0;
    font-size: 2em;
    text-transform: uppercase;
    display:block;
    text-align: center;
    margin-bottom: 0;
    grid-area: cell2;
}

#salade_ul{
    color: black;
}

#menu img{
    display: none;
}

#menu ul li:hover{
    color : #800000;
    text-decoration: underline;
    text-decoration-color: #800000;

}


#menu ol{
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    width: 100%;
    }

#salade{
    background-color: white;
    display: none;
    position: relative;
    top: 312vh;
    overflow: hidden;
}


#entree{
    background-color: white;
    display: none;
    position: absolute;
    top: 322vh;
    overflow: hidden;}

#pizza{
    background-color: white;
    display: none;
    position: absolute;
    top: 328vh;
    overflow: hidden;}

#pate{
    background-color: white;
    display: none;
    position: absolute;
    top: 336vh;
    overflow: hidden;}
#poulet{
    background-color: white;
    display: none;
    position: absolute;
    top: 342vh;
    overflow: hidden;}
#steak{
    background-color: white;
    display: none;
    position: absolute;
    top: 352vh;
    overflow: hidden;}
#veau{
    background-color: white;
    display: none;
    position: absolute;
    top: 359vh;
    overflow: hidden;}
#poisson{
    background-color: white;
    display: none;
    position: absolute;
    top: 366vh;
    overflow: hidden;}
#enfant{
    background-color: white;
    display: none;
    position: absolute;
    top: 373vh;
    overflow: hidden;}

/* --------------------GALLERIE------------------- */

#carrousel {
    align-self: end;
    width: 100%;
    height: 65vh;
}


/* --------------------FOOTER------------------- */

#footer{
    height: 70vh;
    color: white;
    display: grid;
    grid-template-areas: "cell1"
                         "cell2"
                         "cell3"   ;
    grid-template-columns:1fr;
    font-size: 1.7em;
}

#footer ul{
    list-style-type: none;
    grid-area: cell1;
    justify-self: center;
    text-align: center;
    align-self: center;
    padding: 0;
}

#footer ol{
    list-style-type: none;
    grid-area: cell2;
    justify-self: center;
    text-align: center;
    align-self: center;
    padding: 0;
}

#footer li{
    padding: 2px 0 2px 0;
}

#droit{
    grid-area: cell3;
    text-align: center;
    font-size: 15px;
    align-self: flex-end;
    font-style: italic;
}

}   
/* ================== Styles Mobiles ===============*/
@media (max-width:520px) {
/* --------------------HEADER------------------- */
.menu{
    height: 100%;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 100%;
    transition: transform 1s;
}

#menu ul{
    margin-bottom: 0;

}

.menu a {
    width: 100%;
    margin: 4vh 0 4vh 0;
    font-size: 2.5em;
}

#logo{
    display: none;
}

#res_maint{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: -30vh;
    
}

.boutonBurger {
    background: linear-gradient(to bottom, #720d05 0%, #720d05 20%, transparent 20%, transparent 40%, #720d05 40%, #720d05 60%, transparent 60%, transparent 80%, #720d05 80%, #720d05 100%);
    height: 48px;
    width: 48px;
    margin: 1%;
   float: right;
    cursor: pointer;
    /*Effet de transition sur la rotation*/
    transition: transform 1s;
}

#menu_droit{
    margin-bottom: 10vh;
}

#logo_boutton img{
    width: 155px;
    height: 50px;
    margin: 0 27% 0 27%;
}

#logo_boutton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 87%;
}

#menu_gauche{
    display: block;
}

#menu_droit{
    display: block;
}
/* --------------------HISTOIRE------------------- */

/* --------------------MENU------------------- */
#menu{
    background-color: white;
    display: grid;
    grid-template-areas:"cell1 cell1 cell1" 
                        "cell2 cell2 cell2";
    grid-template-columns: 1fr 1fr 1fr;
}

#menu ul{
    cursor: pointer;
    list-style-type: none;
    padding-left: 0;
    font-size: 2em;
    text-transform: uppercase;
    display:block;
    text-align: center;
    grid-area: cell2;
}

#salade_ul{
    color: black;
}

#menu img{
    display: none;
}

#menu ul li:hover{
    color : #800000;
    text-decoration: underline;
    text-decoration-color: #800000;

}


#menu ol{
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    width: 100%;
    }

#salade{
    background-color: white;
    display: none;
    position: absolute;
    top: 440vh;
    overflow: hidden;
}


#entree{
    background-color: white;
    display: none;
    position: absolute;
    top: 447vh;
    overflow: hidden;}

#pizza{
    background-color: white;
    display: none;
    position: absolute;
    top: 457vh;
    overflow: hidden;}

#pate{
    background-color: white;
    display: none;
    position: absolute;
    top: 467vh;
    overflow: hidden;}
#poulet{
    background-color: white;
    display: none;
    position: absolute;
    top: 475vh;
    overflow: hidden;}
#steak{
    background-color: white;
    display: none;
    position: absolute;
    top: 485vh;
    overflow: hidden;}
#veau{
    background-color: white;
    display: none;
    position: absolute;
    top: 492vh;
    overflow: hidden;}
#poisson{
    background-color: white;
    display: none;
    position: absolute;
    top: 502vh;
    overflow: hidden;}
#enfant{
    background-color: white;
    display: none;
    position: absolute;
    top: 510vh;
    overflow: hidden;}
/* --------------------GALLERIE------------------- */
#gallerie{
height: 60vh;
}

#carrousel {
    align-self: end;
    width: 100%;
    height: 50vh;
}

#carrousel {
    font-size: 0.8em;
}

/* ------------------ FOOTER ------------------------ */

#footer{
    height: 70vh;
    color: white;
    display: grid;
    grid-template-areas: "cell1"
                         "cell2"
                         "cell3"   ;
    grid-template-columns:1fr;
    font-size: 1.5em;
}

#footer ul{
    list-style-type: none;
    grid-area: cell1;
    justify-self: center;
    text-align: center;
    align-self: center;
    padding: 0;
}

#footer ol{
    list-style-type: none;
    grid-area: cell2;
    justify-self: center;
    text-align: center;
    align-self: center;
    padding: 0;
}

#footer li{
    padding: 2px 0 2px 0;
}

#droit{
    grid-area: cell3;
    text-align: center;
    font-size: 15px;
    align-self: flex-end;
    font-style: italic;
}

}