@charset "utf-8";
@font-face{
    font-family: titreFont;
    src: url(../font/stargaze_regular-webfont.woff);
}

/*Style global*/
html{
    scroll-behavior: smooth;
}

body{
    background-color: #020a1c;
}

#global{
background-color: #020a1c;
margin: 0 auto;
font-family: 'Raleway', sans-serif;
}

img{
    width: 100%;
}

@media (max-width:620px) {
/* --------------------FORMAT CELLULAIRE------------------- */
body{
    width: 100%;
    height: 100%;
}

nav#nav{
    display: none;
}

.accueil .titre {
    letter-spacing: 0.1vw;
    font-size: 2vw;
    margin-left: -10vw;
    padding-top: 25vh;
    margin-top: -80px;
    text-align: center;
}

.titre h1{
    font-size: 6em;
}

.accueil{
    margin-left: -35vw;
}

.accueil .titre h3{
    font-size: 3em;
    letter-spacing: 0.5vw;
}

.titre .ligne{
    height: 3px;
    width: 10rem;
    background-color: white;
    border-radius: 0.1rem;
    display: block;
    margin-left: 105px;
}

.accueil #cercle{
    position: relative;
    float: left;
    margin-left: -29vh;
    margin-top: -45vh;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    line-height: 50px;
    border-color: #df22a2;
    padding: 10px 18px;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
}


#accueil1 #cercle2{
    position: absolute;
    left: 50vh;
    top: 50vh;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    line-height: 50px;
    border-color: #df22a2;
    padding: 10px 18px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    z-index: -1;
}

#accueil1 #cercle3{
    position: absolute;
    left: -7vw;
    top: 23vh;
    width: 15px;
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    line-height: 50px;
    border-color: #df22a2;
    padding: 10px 18px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    z-index: -1;
}
#imgProfil1, #imgProfil2{
    display: none;
}
/* --------------------DESCRIPTION------------------- */

#description1 {
    background-color: #020611;
    color: white;
    padding-bottom: 5vh;
    height: 130vh;
    font-family: titreFont;
}

#description1 #aPropos h1 {
    margin-left: -210px;
    padding-top: 8vh;
    font-size: 1.5em;
    padding-left: 35vh;
    text-align: center;
}

#description1 #aPropos p{
    position: absolute;
    left: -190px;
    width: 80%;
    text-align: center;
    font-size: 0.8em;
    line-height: 3vh;
}

 #competence h1{
    position: absolute;
    top: 1100px;
    left: 30px;
    margin-top: 7vh;
    font-size: 1em;
    line-height: 3vh;
}

.description #competence #prog{
    position: absolute;
    top: 1170px;
    left: 80px;
    margin-top: 100px;
    width: 60%;
    margin-top: 7vh;
    font-size: 0.8em;
    line-height: 3vh;
    text-align: center;
}

.description #competence #creation{
    position: absolute;
    top: 1300px;
    left: 80px;
    margin-top: 100px;
    width: 60%;
    margin-top: 7vh;
    font-size: 0.8em;
    line-height: 3vh;
    text-align: center;
}

#app{
    position: absolute;
    top: 1340px;
    left: 80px;
    margin-top: 100px;
    width: 60%;
    margin-top: 7vh;
    font-size: 0.8em;
    line-height: 3vh;
    text-align: center;
}

.description #competence #code{
    position: absolute;
    top: 1200px;
    left: 80px;
    margin-top: 100px;
    width: 60%;
    margin-top: 7vh;
    font-size: 0.8em;
    line-height: 3vh;
    text-align: center;
}


.description #cv {
    position: absolute;
    top: 1400px;
    left: -298px;
    width: 150%;
    text-align: center;

    font-size: 1em;
    line-height: 3vh;
}


/* --------------------GALLERIE------------------- */
div#projets{
    height: 45vh;
    background-color:#0d0b32;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 5%;

}

div#carrousel {
    align-self: end;
    width: 90%;
    height: 80vh;
}

#carrousel {
    font-size: 0.8em;
}

/* ------------------ FOOTER ------------------------ */
#footer{
    height: 50vh;
    color: white;
    display: grid;
    grid-template-columns: 50%;
    font-family: 'Raleway', Times, serif;
    font-size: 1em;
    text-align: center;
}

#footer ul{
    list-style-type: none;
    justify-self: center;
    text-align: center;
    align-self: center;
}

#droit{
    height: 20vh;
    text-align: center;
    font-size: 10px;
    align-self: center;
    font-style: italic;
}

.contact{
    color: white;
    text-decoration: none;
 
}

}


